*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #191d28;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    cursor: pointer;
}
header button {
    background-color: #2e3241;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size:20px ;
    margin: 10px;
    padding: 6px 20px;
    border-radius: 10px;
    text-transform: uppercase;
}

.icon{
    width: 5%;
    margin-right: 15px;
     
    
}
.contact{
    cursor: pointer;
    width: 25%;
    margin: 10px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #3dc6c1;
    color: #fff;
}

section h2{
    text-align: center;
    color: #7b7d83;
    font-size: 30px;
    margin-bottom: 10px;
}



.flex{
    display: flex;
    justify-content:space-around ;
    align-items: center;
     
}
.flex div{
    padding: 10px;
}
div p {
    color: #5dc7c2;
    font-weight: 400;
    font-size: 40px;
}
.p{
    color: #fff;
    font-size: 60px;
    text-align: center;
}

span{
    display: block;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    color: #7b7d83;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

th, td {
    padding: 10px; /* Add padding to create space */
}




td {
    border: none; /* Remove borders from td elements */
}

tbody {
    background-color: #7b7d83; /* Set background color */
    border-radius: 100px; /* Set border radius */
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}